[Unit]
Description=Cigarland Web Application
After=network.target

[Service]
Type=simple
User=gouser
Group=cigarland
WorkingDirectory=/cigarland/go_app
ExecStart=/cigarland/go_app/cigarland_api -start-server -port 8080 -server localhost
Restart=on-failure
RestartSec=5s
Environment=GIN_MODE=release

[Install]
WantedBy=multi-user.target